sensor-msgs==1.13.2
rospy==1.17.4
actionlib==1.14.3
turtlebot3_autorace_core==1.1.1
qt-gui==0.4.5
rostest==1.17.4
rosmake==1.15.10
turtlebot3_autorace_camera==1.1.1
genpy==0.6.18
bondpy==1.8.7
controller-manager==0.20.0
rostopic==1.17.4
diagnostic-updater==1.12.1
turtlebot3_example==1.2.5
rqt-tf-tree==0.6.5
rosservice==1.17.4
topic-tools==1.17.4
genmsg==0.6.1
smclib==1.8.7
roslz4==1.17.4
roslaunch==1.17.4
resource-retriever==1.12.10
roslib==1.15.10
geodesy==0.5.6
rosmaster==1.17.4
rqt-gui-py==0.5.5
tf==1.13.4
rosgraph==1.17.4
python-qt-binding==0.4.6
rosboost-cfg==1.15.10
tf2-ros==0.7.10
rosbag==1.17.4
angles==1.9.14
rosnode==1.17.4
roscreate==1.15.10
rosserial_python==0.9.2
roswtf==1.17.4
dynamic-reconfigure==1.7.6
rosunit==1.15.10
rviz==1.14.26
turtlebot3_autorace_detect==1.1.1
turtlebot3_autorace_driving==1.1.1
geneus==3.0.0
turtlebot3_teleop==1.2.5
rqt-graph==0.4.16
gennodejs==2.0.2
rosparam==1.17.4
interactive-markers==1.12.2
message-filters==1.17.4
rosmsg==1.17.4
controller-manager-msgs==0.20.0
gencpp==0.7.2
catkin==0.8.12
qt-dotgraph==0.4.5
genlisp==0.4.18
tf2-py==0.7.10
joint-state-publisher==1.15.2
cv-bridge==1.16.2
tf2-kdl==0.7.10
tf2-geometry-msgs==0.7.10
unique_id==1.0.6
laser-geometry==1.6.8
rqt-gui==0.5.5
base_local_planner==1.17.3
xacro==1.14.20
rosclean==1.15.10
nvidia-lula-no-cuda==0.10.1
nvidia-srl-base==1.3.0
nvidia-srl-usd==2.0.0
setuptools-scm==8.2.0
nvidia-srl-math==1.0.0
nvidia-srl-usd-to-urdf==1.0.2
lxml==5.4.0
python-multipart==0.0.20
watchdog==4.0.0
websockets==12.0
click==8.1.7
annotated-types==0.7.0
idna-ssl==1.1.0
sniffio==1.3.1
fastapi==0.115.7
certifi==2025.7.14
toml==0.10.2
pydantic_core==2.33.2
idna==3.10
pytz==2024.1
aioitertools==0.11.0
attrs==25.1.0
async-timeout==5.0.1
uvicorn==0.29.0
h11==0.16.0
aiohappyeyeballs==2.4.4
urllib3==2.5.0
charset-normalizer==3.3.2
pycparser==2.22
anyio==4.9.0
MarkupSafe==3.0.2
pypng==0.20220715.0
coverage==7.4.4
aiohttp==3.11.11
httptools==0.6.1
typing-inspection==0.4.1
aiosignal==1.3.2
multidict==6.1.0
psutil==5.9.8
aiodns==3.1.1
propcache==0.2.1
aiofiles==23.2.1
cffi==1.17.1
yarl==1.18.3
qrcode==7.4.2
pycares==4.8.0
pydantic==2.11.7
asteval==1.0.6
sentry-sdk==2.29.1
frozenlist==1.5.0
Jinja2==3.1.6
contourpy==1.3.1
packaging==23.0
nest-asyncio==1.5.6
llvmlite==0.42.0
pyparsing==3.0.9
qdldl==0.1.7.post5
pyperclip==1.8.0
six==1.17.0
kiwisolver==1.4.4
MarkupSafe==2.1.3
numba==0.59.1
cycler==0.11.0
fonttools==4.55.3
Pint==0.20.1
tornado==6.5.1
matplotlib==3.10.3
osqp==0.6.7.post3
python-dateutil==2.9.0.post0
gunicorn==23.0.0
filelock==3.13.1
fsspec==2024.6.1
sympy==1.13.3
nvidia-cusolver-cu12==11.7.2.55
mpmath==1.3.0
nvidia-curand-cu12==10.3.9.55
nvidia-cusparselt-cu12==0.6.3
torch==2.7.0+cu128
nvidia-cuda-nvrtc-cu12==12.8.61
networkx==3.3
torchvision==0.22.0+cu128
nvidia-cufile-cu12==1.13.0.11
nvidia-cuda-cupti-cu12==12.8.57
nvidia-nvtx-cu12==12.8.55
nvidia-nccl-cu12==2.26.2
nvidia-cuda-runtime-cu12==12.8.57
nvidia-nvjitlink-cu12==12.8.61
nvidia-cusparse-cu12==12.5.7.53
nvidia-cufft-cu12==11.3.3.41
nvidia-cublas-cu12==12.8.3.14
torchaudio==2.7.0+cu128
Rtree==1.3.0
opencv-python-headless==4.11.0.86
imageio==2.37.0
scipy==1.15.3
trimesh==4.5.1
PyYAML==6.0.2
msal-extensions==1.0.0
s3transfer==0.13.1
azure-identity==1.13.0
azure-core==1.28.0
boto3==1.39.11
portalocker==2.7.0
requests==2.32.3
jmespath==1.0.1
requests-oauthlib==1.3.1
six==1.17.0
isodate==0.6.1
azure-storage-blob==12.17.0
aioboto3==15.1.0
oauthlib==3.2.2
botocore==1.39.11
aiobotocore==2.24.0
cryptography==44.0.0
msal==1.27.0
python-dateutil==2.9.0.post0
awscrt==0.23.8
setuptools==82.0.0
pyparsing==3.2.5
dm-tree==0.1.9
stack_data==0.6.3
asttokens==3.0.1
loop-rate-limiters==1.2.0
nvidia-cusolver-cu12==11.7.5.82
dataclasses-json==0.6.7
pinocchio==0.4.3
eigenpy==3.5.1
jaxtyping==0.3.9
pin==2.7.0
wrapt==2.1.1
pytest-mock==3.15.1
jax-cuda12-plugin==0.5.3
pin-pink==3.1.0
termcolor==3.3.0
simplejson==3.20.2
pexpect==4.9.0
decorator==5.2.1
mkl-service==2.5.2
jupyterlab_widgets==3.0.16
optax==0.2.6
nvidia-cusparse-cu12==12.5.10.65
absl-py==2.4.0
cloudpickle==3.1.2
isaaclab_assets==0.2.4
typing_extensions==4.15.0
chex==0.1.91
marshmallow==3.26.2
pyecharts==2.1.0
hpp-fcl==2.4.4
nvidia-cudnn-cu12==9.7.1.26
nvidia-cudnn-cu12==9.8.0.87
nvidia-cublas-cu12==12.9.1.4
toml==0.10.2
swanlab==0.7.8
antlr4-python3-runtime==4.9.3
mkl_fft==2.1.1
fonttools==4.61.0
opt_einsum==3.4.0
inquirerpy==0.3.4
cusrl==1.1.8.post0
jsonschema-specifications==2025.9.1
pluggy==1.6.0
gitdb==4.0.12
pyvers==0.2.2
toolz==1.1.0
ray==2.52.1
hidapi==0.14.0.post2
sbx-rl==0.25.0
nvidia-cuda-runtime-cu12==12.9.79
omegaconf==2.3.0
ipython==9.10.0
Werkzeug==3.1.6
skrl==1.4.3
Mako==1.3.10
gast==0.7.0
distro==1.9.0
mdurl==0.1.2
onnx-ir==0.1.16
anytree==2.13.0
tokenizers==0.22.2
packaging==26.0
cmeel-octomap==1.10.0
python-dotenv==1.2.1
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
nvidia-nccl-cu12==2.29.7
smmap==5.0.2
pillow==12.1.1
numpy==1.26.4
numpy==2.4.2
Pygments==2.19.2
setproctitle==1.3.7
zipp==3.23.0
flatbuffers==25.12.19
traitlets==5.14.3
optuna-dashboard==0.20.0
jax==0.5.3
SQLAlchemy==2.0.47
pandas==3.0.1
prompt_toolkit==3.0.52
catkin-pkg==1.1.0
GitPython==3.1.46
xacrodoc==1.3.1
gym-notices==0.1.0
uvloop==0.22.1
tomli==2.4.0
pytest==9.0.2
triton==3.3.0
colorlog==6.10.1
choreographer==1.2.1
jax-cuda12-pjrt==0.5.3
==
Markdown==3.10.2
Farama-Notifications==0.0.4
cmeel-assimp==5.4.3.1
pure_eval==0.2.3
six==1.17.0
cmeel-urdfdom==3.1.1.1
tensordict==0.11.0
rl_games==1.6.1
rsl-rl-lib==3.1.2
onnx==1.20.1
bottle==0.13.4
orbax-checkpoint==0.11.33
imageio-ffmpeg==0.6.0
isaaclab==0.54.3
starlette==0.49.1
msgpack==1.1.2
colorama==0.4.6
tensorstore==0.1.82
PyYAML==6.0.3
iniconfig==2.3.0
grpcio==1.78.1
grpcio==1.74.1
markdown-it-py==4.0.0
orjson==3.11.7
scipy==1.17.1
matplotlib-inline==0.2.1
onnxoptimizer==0.4.2
einops==0.8.2
pyglet==1.5.31
gym==0.23.1
nvidia-cuda-nvrtc-cu12==12.9.86
ipdb==0.13.13
comm==0.2.3
alembic==1.18.4
jsonschema==4.26.0
wadler_lindig==0.1.7
nvidia-cuda-cccl-cu12==12.9.27
nvidia-cufft-cu12==11.4.1.4
widgetsnbextension==4.0.15
jedi==0.19.2
kaleido==1.2.0
gymnasium==1.2.1
tfp-nightly==0.26.0.dev20260314
mypy_extensions==1.1.0
ptyprocess==0.7.0
nvidia-nvshmem-cu12==3.5.21
pip==26.0.1
hf-xet==1.2.0
nvidia-cuda-cupti-cu12==12.9.79
pytest-timeout==2.4.0
a1_ppo==0.1.0
isaaclab_mimic==1.0.16
prettytable==3.3.0
wandb==0.25.0
isaaclab_rl==0.4.7
isaaclab_tasks==0.11.13
cmeel-qhull==8.0.2.1
daqp==0.7.2
isaaclab_contrib==0.0.2
quadprog==0.1.13
nvidia-cuda-nvcc-cu12==12.9.86
flaky==3.8.1
jaxlib==0.5.3
cmeel-console-bridge==1.0.2.3
robomimic==0.4.0
pfzy==0.3.4
importlib_metadata==8.7.0
egl_probe==1.0.2
seaborn==0.13.2
hydra-core==1.3.2
logistro==2.0.1
huggingface_hub==0.36.2
wheel==0.46.3
optuna==4.7.0
cmeel-zlib==1.3.1
flatdict==4.0.0
cmeel==0.59.0
ml_dtypes==0.5.4
nlopt==2.7.1
executing==2.2.1
parso==0.8.6
kiwisolver==1.4.9
objprint==0.3.0
robot_lab==2.3.2
cmeel-boost==1.83.0
onnxruntime==1.24.2
QuadLoco==0.1.0
contourpy==1.3.3
rpds-py==0.30.0
MarkupSafe==3.0.3
cmeel-tinyxml==2.6.2.3
tensorboard_data_server==0.7.0
tensorboard-data-server==0.7.2
pytransform3d==3.14.4
warp-lang==1.11.1
matplotlib==3.10.8
rospkg==1.6.1
dex_retargeting==0.4.6
platformdirs==4.9.2
nvidia-ml-py==13.590.48
tqdm==4.67.3
protobuf==6.33.0
proglog==0.1.12
tensorboard==2.20.0
safetensors==0.7.0
qpsolvers==4.8.2
transformers==4.57.6
regex==2026.2.19
etils==1.14.0
greenlet==3.3.2
mkl_random==1.3.0
orbax-export==0.0.8
flax==0.12.5
nvidia-nvjitlink-cu12==12.9.86
stable_baselines3==2.8.0a4
humanize==4.15.0
moviepy==2.2.1
docutils==0.22.4
referencing==0.37.0
python-dateutil==2.9.0.post0
onnxscript==0.6.2
treescope==0.1.10
h5py==3.15.1
exceptiongroup==1.3.1
tensorboardX==2.6.4
wcwidth==0.6.0
cycler==0.12.1
rich==13.9.4
junitparser==4.0.2
typing-inspect==0.9.0
jaraco.functools==4.4.0
autocommand==2.2.2
importlib_metadata==8.7.1
packaging==26.0
zipp==3.23.0
tomli==2.4.0
more-itertools==10.8.0
backports.tarfile==1.2.0
platformdirs==4.4.0
wheel==0.46.3
jaraco.text==4.0.0
jaraco.context==6.1.0
